
<header class="header"> 
  <div class="container header_container"> 
    <div class="header_logo"> <a class="logo_link" href="#"><img src="../../assets/logos/logo.svg" alt=""/></a></div>
    <div class="header_second"> 
      <nav class="navbar"> 
        <ol class="list"> 
          <li class="list_item"> <a href="#">Our team </a></li>
          <li class="list_item"> <a href="#">Tokens </a></li>
          <li class="list_item"> <a href="#">Connect wallet </a></li>
          <li class="list_item"> <a href="#">Lightpaper </a></li>
        </ol>
      </nav>
      <div class="header_right"> <a class="signIn" href="#">Sign In </a><a class="signUp" href="#">Sign Up </a></div>
    </div>
  </div>
</header>