header.header 
    .container.header_container 
        .header_logo 
            a.logo_link(href="#")
                img(src="../../assets/logos/logo.svg", alt="")
    
        
        .header_second  
            nav.navbar 
                ol.list 
                    li.list_item 
                        a(href="#") Our team 
                    li.list_item 
                        a(href="#") Tokens 
                    li.list_item 
                        a(href="#") Connect wallet 
                    li.list_item 
                        a(href="#") Lightpaper 
            
            .header_right 
                a(href="#").signIn Sign In 
                a(href="#").signUp Sign Up 
            