.about {
    max-width: $max-width;
    height: 100vh;

    .about_container {
        .row {
            justify-content: $space-between;
            padding: 0 40px;

            .card {
                width: 600px;
                height: 100vh;
                border-radius: 25px;
                background: #22222228;
                padding-top: 60px;

                .card_title {
                    text-align: center;

                    h2 {
                        font-size: $h2Size;
                        font-family: $sans-serif;
                        margin-bottom: 1.5rem;

                        span {
                            color: rgb(0, 199, 0);
                            text-decoration: underline;
                        }
                    }

                    p {
                        font-family: $sans-serif;
                        color: grey;
                    }

                    img {
                        width: 377px;
                        margin-left: 50px;
                        margin-top: 2.1rem;
                    }

                    .card_img2 {
                        position: relative;
                        left: 65px;
                        top: -20px;
                    }
                }
            }
        }

        .about_blank {
            position: relative;
            z-index: -4;
            width: 100%;
            border-radius: 20px;
            color: $light-color;
            padding-top: 40px;
            height: 80vh;
            background: black;
            font-family: $sans-serif;
            margin-bottom: 5rem;

            .col {
                h2 {
                    font-size: $h2Size;
                }

                p {
                    padding-bottom: 1rem;
                    line-height: 30px;
                    color: grey;
                }
            }
        }

        .line {
            .img {
                display: $d-flex;
                justify-content: space-between;
            }

            .line {
                margin-bottom: 2rem;
            }

            .bottom_lists {
                display: flex;
                justify-content: space-between;
                margin-bottom: 5rem;
            }
        }
    }
}