$max-width: 1600px;

$d-flex: flex;
$light-color: white;
$dark-color: black;
$h1Size: 48px;
$h2Size: 36px;
$h3Size: 24px;
$h4Size: 20px;
$h5Size: 18px;
$h6Size: 17px;
$defaultSize: 16px;
$p-relative: relative;
$p-absolute: absolute;
$p-fixed: fixed;
$center: center;
$space-between: space-between;
$nav-width: 400px;
$sans-serif: sans-serif;
